{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<DIV id = "container" >

<div id = "header">
<h1> Questions ..</h1>
</div>

  <form action="/polls/test/" method="get">  
  Find: <input type="text" name="" size="35">
  <input type="submit" value="Add Stuff">
  </form>


{% if test_list %}
  {% for list in test_list %}
   <div id = "content">There are {{ list }} results in database</div>
   {% endfor %}
{% else %}
    <p>No results are available.</p>
{% endif %}
  

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <div id = "content"><a href="/polls/question/{{ question.questionId }}/">{{ question.questionText }}</a></div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<div id = "footer">
Powered by Organizise
</div>
</DIV>

