{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<DIV id = "container" >

<div id = "header">
<h1> Add NEW Stuff .. </h1>
</div>

<form action="/polls/test/addContent/" method="post">
Search Question: <input type="text" name="que" size="35" value="Question"><br>
Search Answer: <textarea rows="4" cols="50" name="ans">
  Your answer here..
</textarea><br>
<input type="submit" value="Submit">
</form>

</div>
<div id = "footer">
Powered by Organizise
</div>
</DIV>
